html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Staatliches", cursive;
  font-size: 20px;
  background-image: url("./wallpaperflare.com_wallpaper.jpg");
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  background-attachment: fixed; 
}
html {
  height: 100%;
}

button {
  height: 40px;
  width: 40px;
  font-family: "Staatliches", cursive;
  font-size: 15px;
}

.container {
  border: 1px solid transparent;
  border-radius: 15px;
  background-color: rgba(255, 255, 255,0.4);
  position: fixed;
  height: 320px;
  width: 320px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -1px 3px 20px rgba(0, 0, 0, 1);
}

#passwordlen {
  position: fixed;
  top: 23%;
  left: 51%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#passwordLength {
  width: 60px;
  text-align: center;
  font-size: 18px;
  margin-top: -17px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.218);
  border-radius: 10%;
  border-width: 1px;
}


#passwordBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.218);
  border-radius: 15px;
  height: 50px;
  min-width: 300px;
  width: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

#passwordBox p {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#password {
  font-size: 20px;
}

.btn {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 150px;
  border-radius: 7px;
  border-width: 0;
  background-color: rgba(162, 154, 154, 0.518);
}

.btn:active {
  height: 38px;
  width: 148px;
}

@media only screens and (max-width: 1000px) {
  #passwordlen {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .container {
      border: 1px solid black;
      position: relative;
      height: 320px;
      width: 320px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  #passwordBox {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: silver;
      height: 50px;
      min-width: 300px;
      width: 300px;
      margin-bottom: 10px;
      margin-top: 10px;
  }

  #passwordBox p {
      position: fixed;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 15px;
  }

  .btn {
      position: fixed;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -30%);
      width: 150px;
  }
}
